<fieldset class="col-6">
    <div class="media-card">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, id: :instructors_name, :class => 'form-control' %>
    <%= f.label :link, "Link" %>
    <%= f.text_field :link , id: :instructors_link, :class => 'form-control'%>
    <%= f.label :contact, "Contact" %>
    <%= f.text_field :contact , id: :instructors_contact, :class => 'form-control'%>
    <%= f.hidden_field :_destroy %>
    <%= link_to("Remove", "#", class: "btn btn-danger remove_fields") %>
    </div>
</fieldset>