<div class="wrapper">
      <!-- Sidebar Start -->
      <nav id="sidebar">


        <div class="sidebar-content">
        

          <div class="sidebar-header">
            <p><%= link_to "Vivek HV", root_path %></p>
          </div>

          <a href="" class="tag_type">
          </a>
          <%= content_tag :div, class: "temp_information", data: {temp: Project.tag_counts.map{|x| [x.name, tag_path(x.name)]}} do %>
          <% end %>
          
          <ul class="sidebar-menu">
            <li><%= link_to "About", controller: "projects", action: "contact" %></li>
          </ul>

        </div>
      </nav>

      <nav id="sidebar-mobile" class='col-12'>
        <div class="sidebar-content">
          <div class="sidebar-header">
            <p><%= link_to "Vivek HV", root_path %></p>
          </div>

          
          <div class="row align-items-center">
            
            <a  href="" class="col tag_type tag_type_mobile">
            </a>
            <div class="cursor">
            </div>
          </div>

          
          <ul class="sidebar-menu">
            <li><%= link_to "About", controller: "projects", action: "contact" %></li>
          </ul>
        </div>
      </nav>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content" id="style-3">
        <div class="row1">

    <% @projects.each_with_index do |project, index| %>

          <div class="card">
            <!-- <p class="side-text">Graduate School of Design / Harvard University / Fall 2017</p> -->
            <div class="wrapper-rhs" target='vid-<%= index %>' toggle="img-<%= index %>">
              <div class="img-container">
                <img class="img-card" src="<%= project.thumb_img %>" target='vid-<%= index %>' toggle="img-<%= index %>">
                <video class="vid-card" width="400" height="400" target='img-<%= index %>' toggle="vid-<%= index %>" playsinline muted loop>
                    <source src="<%= project.thumb_vid %>" type="video/mp4">
                    <img class="img-card" src="<%= project.thumb_img %>">
                    Your browser does not support HTML5 video.
                </video>
              </div>

              <div class="text-wrapper">
                <p class="title"><%= link_to project.title, project %></p>
                <p class="project-tags">
                    <% project.tags.each_with_index do |tag, index| %>
                      <%= link_to '#' + tag.name, tag_path(tag.name) %>
                    <% end %>
                </p>
              </div>
            </div>
          </div>
<!--
        <td><%#= link_to 'Edit', edit_project_path(project) %></td>
        <td><%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>








        </div>
      </div>
      <!-- Content End -->

    </div>