<div id="project" class="wrapper">
      
      <!-- Sidebar Start -->
      <nav id="sidebar">
        <div class="sidebar-content">
          <a href=<%= projects_path %>>
          <div class="back-arrow">
              <img src="https://s3.us-east-2.amazonaws.com/portfolio-vivek/images/back.jpg" width="75" >
          </div>
          </a>
          <div class="sidebar-header">
            <p><%= link_to "Vivek HV", root_path %></p>
          </div>
          <a href="" class="tag_type">
          </a>
          <%= content_tag :div, class: "temp_information", data: {temp: Project.tag_counts.map{|x| [x.name, tag_path(x.name)]}} do %>
          <% end %>
          <hr>

          <ul class="sidebar-menu">
            <li><%= link_to "About", controller: "projects", action: "contact" %></li>
          </ul>
        </div>
      </nav>

      <nav id="sidebar-mobile" class='col-12'>
        <div class="sidebar-content">
          <div class="sidebar-header">
            <p><%= link_to "Vivek HV", root_path %></p>
          </div>
          <div class="row align-items-center">
            
            <a  href="" class="col tag_type tag_type_mobile">
            </a>
            <div class="cursor">
            </div>
          </div>
          <ul class="sidebar-menu">
            <li><%= link_to "About", controller: "projects", action: "contact" %></li>
          </ul>
        </div>
      </nav>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content" id="style-3">
        <p id="key-info">You can use arrow keys to navigate</p>
        <img id="right-key" src ="https://s3.us-east-2.amazonaws.com/portfolio-vivek/images/icons/right-key.png">
        <img id="left-key" src ="https://s3.us-east-2.amazonaws.com/portfolio-vivek/images/icons/left-key.png">
        
        <div class="row1">

            <div class="card">
                <!-- <p class="side-text">01 Atelier</p> -->
                <div class="wrapper-rhs">
                  <div class="img-container">
                    <img class="img-card" src='<%= @project.thumb_img %>' target='vid-1' toggle="img-1">
                    <video class="vid-card"  width="400" height="400" target='img-1' toggle="vid-1"  loop>
                        <source src="<%= @project.thumb_vid %>" type="video/mp4" autoplay>
                        Your browser does not support HTML5 video.
                    </video>
                  </div>
    
                  <div class="text-wrapper">
                    <p class="sub-text-1"><%= @project.period %> <br> <%= @project.location %></p>

                    
                    <% if (!@project.instructors.nil? & @project.instructors.any?) %>
                      <p class="sub-text-1">Instructor(s)/Professor(s):<br> 
                      <% @project.instructors.each_with_index do |instructor, index| %>
                        <% if index > 0 %>
                        , 
                        <% end %>
                        <a href="<%= instructor.link %>"><%= instructor.name %></a>
                      <% end %>
                      </p>
                    <% end %>

                    <% if (!@project.collaborators.nil? & @project.collaborators.any?) %>
                      <p class="sub-text-1">Collaborator(s):<br> 
                      <% @project.collaborators.each_with_index do |collaborator, index| %>
                        <% if index > 0 %>
                        , 
                        <% end %>
                        <a href="<%= collaborator.link %>"><%= collaborator.name %></a>
                      <% end %>
                      </p>
                    <% end %>    
                  </div>
                </div>
              </div>

              <div class="card2">
                <!-- <p class="side-text">01 Atelier</p> -->
                <div class="wrapper-rhs">
                  <div class="text-wrapper">
                    <h3 class="title"><%= @project.title %></h3>
                    <p class="short-desc"><%= @project.short_desc %></p>
                    <div class="long-desc"><%= @project.long_desc.html_safe %></div>
                </div>
                </div>
              </div>

              <% if !@project.media.nil? %>
                <% count = 0 %>
                <% @project.media.order(:order).each_with_index do |medium, index| %>
                  <% if medium.mediatype == 'Text'%>
                    <div class="card2">
                        <!-- <p class="side-text">01 Atelier</p> -->
                        <div class="wrapper-rhs">
                          <div class="text-wrapper">
                            <div class="long-desc media-long-desc"><%= medium.long_desc.html_safe %></div>
                        </div>
                        </div>
                      </div>
                  <%else%>
                    <% if medium.aspect == 0 %>
                          <div class="card4 align-items-center">
                          <% if medium.mediatype == 'Image' %>
                            <img class="img-card-extra" src="<%= medium.link %>" >
                          <% end %>
                          <% if medium.mediatype == 'Video' %>
                            <video width="540" muted <% if(medium.autoplay > 0 ) %> autoplay loop <% end %> >
                                <source src="<%= medium.link %>" type="video/mp4" >
                                Your browser does not support HTML5 video.
                            </video>
                          <% end %>
                          <% count += 1 %>
                          </div>
                    <% end %>

                    <% if medium.aspect == 1 %>
                      <div class="card3">
                        <% if medium.mediatype == 'Image' %>
                          <img class="img-card-extra2" src="<%= medium.link %>" >
                        <% end %>
                        <% if medium.mediatype == 'Video' %>
                          <video width="570" muted <% if(medium.autoplay > 0 ) %> autoplay loop <% end %> >
                              <source src="<%= medium.link %>" type="video/mp4" >
                              Your browser does not support HTML5 video.
                          </video>
                        <% end %>
                      </div>
                    <% end %>

                  <% end %>
                <% end %>
              <%end%>  
        </div>
      </div>
      <!-- Content End -->