<%= form_with(model: medium, local: true) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption, id: :medium_caption %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :medium_link %>
  </div>

  <div class="field">
    <%= form.label :credits %>
    <%= form.text_field :credits, id: :medium_credits %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :medium_type %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :medium_order %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :medium_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
