<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @medium.caption %>
</p>

<p>
  <strong>Link:</strong>
  <%= @medium.link %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @medium.credits %>
</p>

<p>
  <strong>Type:</strong>
  <%= @medium.type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @medium.order %>
</p>

<p>
  <strong>Project:</strong>
  <%= @medium.project %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
