<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tagging.tag %>
</p>

<p>
  <strong>Project:</strong>
  <%= @tagging.project %>
</p>

<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
